IETT_WSDL_URL=https://api.ibb.gov.tr/iett/FiloDurum/SeferGerceklesme.asmx?wsdl
IETT_STOPS_WSDL_URL=https://api.ibb.gov.tr/iett/UlasimAnaVeri/HatDurakGuzergah.asmx?wsdl
IETT_NTC_API_URL=https://ntcapi.iett.istanbul/service
IETT_LIVE_URL=
IETT_REQUEST_TIMEOUT_SECONDS=10
LIVE_CACHE_SECONDS=20
MAX_VEHICLE_AGE_SECONDS=180
GOOGLE_MAPS_API_KEY=
